<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <h1>About Page</h1>
    <p> Welcome to Movie Picker. Search for a random movie/TV Show or search for a title and view streaming availability!</p>

</body>
</html>
