<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick A Movie</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
        

