<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <div class="container">
      <h2>Search For A Movie</h2>
    
    
    
      <form action="/searchtitle" method="POST">
    
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" name="type" placeholder="Type the ttitle of any movie">
        </div>
    
        <div class="form-group">
          <button type="submit" class="search-button"> Search </button>
        </div>
    
      </form>
    
    </div>
    <% if (typeof results !=='undefined') { %>
      <div class="movie-list">
        <% results.forEach((result)=> { %>
          <ul>
            <li>
              <div class="movie-item">
                <%= result['Movie Title'] %>
                <a href="https://www.imdb.com/title/<%= result['ID'] %>/">
                  <img src="<%= result.Image %>" 
                    alt="<% result['Movie Title'] %> Poster" class="image-hover image-size">
                </a>
                
              </div>
            </li>
          </ul>
          <% }) %>
      </div>
      <% } %>
    

</body>
</html>
